<table class="table-condensed" id="legend">
  <tr>
    <td><img src="/assets/images/legend/temp-no-parking.png"></td>
    <td>Temporary No Parking <img rel="tooltip" {{bs-bind-tooltip tempNoParking}} src="/assets/images/legend/tooltip.png">
    </td>
  </tr>
  <tr>
   <td><img src="/assets/images/legend/paid-parking.png"></td>
    <td>Paid Parking <img rel="tooltip" {{bs-bind-tooltip paidParking}} src="/assets/images/legend/tooltip.png"></td>
  </tr>
  <tr>
    <td><img src="/assets/images/legend/restricted-zone.png"></td>
    <td>Restricted Parking Zone <img rel="tooltip" {{bs-bind-tooltip restrictedParking}} src="/assets/images/legend/tooltip.png"></td>
  </tr>
  <tr>
    <td><img src="/assets/images/legend/time-limit.png"></td>
    <td>Time Limited Parking <img rel="tooltip" {{bs-bind-tooltip timeLimitedParking}} src="/assets/images/legend/tooltip.png"></td>
  </tr>
  <tr>
    <td><img src="/assets/images/legend/carpool-parking.png"></td>
    <td>Carpool Parking <img rel="tooltip" {{bs-bind-tooltip carpoolParking}} src="/assets/images/legend/tooltip.png"></td>
  </tr>
  <tr>
    <td><img src="/assets/images/legend/no-parking.png"></td>
    <td>No Parking Allowed <img rel="tooltip" {{bs-bind-tooltip noParking}} src="/assets/images/legend/tooltip.png"></td>
  </tr>
  <tr>
    <td><img src="/assets/images/legend/unrestricted.png"></td>
    <td>Unrestricted Parking <img rel="tooltip" {{bs-bind-tooltip unrestrictedParking}} src="/assets/images/legend/tooltip.png"></td>
    </tr>
  <tr>
    <td><img src="/assets/images/legend/am-restrictions.png"></td>
    <td>AM Restrictions <img rel="tooltip" {{bs-bind-tooltip amRestrictedParking}} src="/assets/images/legend/tooltip.png"></td>
  </tr>
  <tr>
    <td><img src="/assets/images/legend/am-pm-restrictions.png"></td>
    <td>AM/PM Restrictions <img rel="tooltip" {{bs-bind-tooltip ampmRestrictedParking}} src="/assets/images/legend/tooltip.png"></td>
  </tr>
  <tr>
    <td><img src="/assets/images/legend/pm-restrictions.png"></td>
    <td>PM Restrictions <img rel="tooltip" {{bs-bind-tooltip pmRestrictedParking}} src="/assets/images/legend/tooltip.png"></td>
  </tr>
</table>
